body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #333
}

hr {
	border: 0;
	background-color: #e5e5e5;
	display: block;
	height: 1px;
	width: 100%;
	margin: 40px 0;

}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/* Container */
.container {
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

/* Intro */

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	/* background: url("/images/intro.jpg") center no-repeat; */
	background-size: cover;
	-webkit-background-size: cover;
	margin: 0px;
}

.intro_inner {
	widows: 100px;
	max-width: 880px;
	margin: 0 auto;
	text-align: center;
}

.intro_suptitle {
	margin-bottom: 20px;
	font-family: 'Kaushan Script', cursive;
	font-size: 72px;
	color: #fff; 
	text-shadow:#333 1px 1px 1px;
}

.intro_title {
	color: #fff ;
	text-shadow:#333 1px 1px 1px;
	font-size: 150px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;

}

.intro_title:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background-color: #fff;
	box-shadow: #333 3px 3px 3px;
	margin: 60px auto;
}

/* header */
.header {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: #fff;
	box-shadow: #333 1px 1px 1px;
}

.header_inner {

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_logo{
	font-size: 30px;
	font-weight: 700;
	color: #333;
}

/* nav */

.nav {
	font-size: 14px;
	text-transform: uppercase;
}

.nav_link {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0 10px;
	color: #333;
	text-decoration: none;

	transition: color .1s linear;
}

.nav_link:after{
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: #000;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	opacity: 0;

	transition: opacity .1s linear

}

.nav_link:hover{
	color: #000;
}

.nav_link:hover:after{
	opacity: 1;
}

/* button */

.btn {
	display: inline-block;
	vertical-align: top;
	border: 3px solid #333;
	padding: 8px 30px;
	color: #333;
	text-transform: uppercase;
	font-style: 14px;
	font-weight: 700;
	text-decoration: none;
	transition: background .1s linear, 
	color .1s linear;

}

.btn:hover {
	background-color: #333;
	color: #fff;
}

.btn--text{
	margin-top: 150px;
}
/* slider */

.slider {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
}

.slider_inner{
	display: flex;
	justify-content: space-between;
}

.slider_item {
	padding: 20px 0;
	border-top: 3px solid #fff;
	width: 23%;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	opacity: 0.7;
	position: relative;

}

.slider_item.active {
	opacity: 1;
}

.slider_item.active:before {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background-color: #f38181;

	position: absolute;
	top: -3px;
	left: 0;
	z-index: 1;

}

.slider_number {
	font-size: 24px;
	font-weight: 700;

}

/* section */

.section{
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 0;
	padding-right: 0;
}

.section--devices{
	background: 
	url("../images/images/design/bg.jpg")
	center no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	padding-bottom: 0;
}

.section_header {
	width: 100%;
	max-width: 950px;
	margin: 0 auto 50px;
	text-align: center;

}

.section_suptitle{
	font-family:'Kaushan Script', cursive;
	font-size: 24px;
	color: #333;
}

.section_title{
	font-size: 30px;
	text-transform: uppercase;
	color: #333;
	font-weight: 700;
}

.section--intro{
	padding-top: 0;
	padding-bottom: 0;
	background-color: #fff;
	margin-left: 200px;
	margin-right: 200px;
	max-height: 75%;
	padding: 30px;
}

.section_title:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 30px auto;
	background-color: #333;
}

.section_text{
	font-size: 15px;
	color: #999;
}

/* about */
.btn--about {
	display: inline-block;
	vertical-align: top;
	border: 2px solid #333;
	padding: 8px 30px;
	color: #333;
	text-transform: uppercase;
	font-style: 14px;
	font-weight: 600;
	text-decoration: none;
	transition: background .1s linear, 
	color .1s linear;
	width: 100%;

}

.about{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 80px -15px 0;
}

.about_item{
	margin-top: 15px;
	width: 33.3333333%;
	padding: 0 15px;
	background-color: #fff;
	position: relative;
}

.container--about{
	widows: 100px;
	max-width: 880px;
	margin: 0 auto;
	text-align: center;
	padding: 0;
}

.container--reg{
	font-weight: 700;
}

.about_item:hover .about_img img{
	opacity: 0.2;
}

.about_item:hover .about_text{
	opacity: 1;
}

.about_img{
	background: linear-gradient(to bottom, #fff, #FFF);
	transition: transform .1s linear;
}

.about_img img{
	display: block;
	max-width: 100%;
	height: auto;
	transition: opacity .1s linear;
}

.about_text{
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 20px;
	opacity: 0;
	width: 100%;
	color: #333;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	transform: translate3d(0, -50%, 0);
	transition: opacity .1s linear;
}

/* statistics */

.statistics {
	background-color: #fff;

}

.stat{
	display: flex;
	flex-wrap: wrap;
}

.stat_item{
	flex: 1 1 0;
	text-align: center;
	color: #333;
	padding: 70px 25px;
	width: 100%;

}

.stat_count{
	margin-bottom: 10px;
	font-size: 72px;
	font-weight: 700;
	line-height: 1;
}

.stat_text{
	font-size: 20px;
	text-transform: uppercase;
}

/*services*/

.services{
	display: flex;
	flex-wrap: wrap;
}

.services_item{
	width: 100%;
	position: relative;
	padding: 0 35px 40px 250px;
	margin-bottom: 50px;
}
.services_item--border{
	border-bottom: 1px solid #e5e5e5;
}
.services_icon{
	position: absolute;
	top: 5px;
	left: 25px;
	z-index: 1;
	max-height: 150px;
	max-width: 150px;
}

.services_title{
	margin-bottom: 10px;
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
}

.services_text{
	font-size: 15px;
	color: #999;
	padding-bottom: 5px;
}

/* devices */

.devices{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
}

.devices_item{
	display: block;
	max-width: 100%;
	height: auto;
}

.devices_item--iphone{
	position: absolute;
	bottom: -80px;
	right: 0;
	z-index: 1;
}

/*footer*/

.footer{
	padding-top: 100px;
	background-color: #333;
}

/*reg*/

.reg_input{
	width: 50%;
	border: 2px solid #333; /*цвет рамки*/
   border-radius: 3px; /*//закругление углов (общее)*/
   -webkit-border-radius: 3px; /*/закругление углов (Google Chrome)*/
   -moz-border-radius: 3px; /*//закругление углов (FireFox)*/
   border-radius: 3px; /*//закругление углов (Safari)*/
   background: #fff;/*// желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым*/
   outline: none; /*// удаляет обводку в браузерах хром(желтая) и сафари(синяя)*/
   height: 30px; /*// высота на свое усмотрение*/
   color: #333; /*//цвет шрифта в обычном состоянии*/
   font-size: 13px; /*// Размер шрифта*/
   font-family: 'Montserrat'; /*// Стиль шрифта*/
   font-weight: 700

}

.reg_line{
	padding-bottom: 10px;
}

.reg_line:last-child{
	padding-top: 15px;
}

/*order*/

.header--order{
	background-color: #e5e5e5;
	padding: 15px 0;
}

.header_logo--order{
	color: #333;
}

.nav_link--order{
	color: #333;
}

.section--order{
	padding-top:100px;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

.btn--order{
	display: inline-block;
	vertical-align: top;
	border: 1.2px solid #333;
	padding: 8px 30px;
	color: #333;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	transition: background .1s linear, 
	color .1s linear;
}

/*Cart*/

.stat_item{
	flex: 1 1 0;
	text-align: left;
	color: #333;
	padding: 70px 25px;
	width: 100%;

}

.btn--cart{
	display: inline-block;
	vertical-align: top;
	border: 1.2px solid #333;
	padding: 0 10px;
	color: #333;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	transition: background .1s linear, 
	color .1s linear;
	margin-right:5px;
}

.btn--cart:last-child{
	margin-left: 5px;
}

.counter{
	padding: 0 10px;
	text-align: center;
}

.cart_inner input, .cart_inner textarea {
    display: block;
    width: 75%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.cart_item{
	width: 100%;
	position: relative;
	margin-bottom: 50px;
}

.stat_item--cart{
	flex: none;
    width: 100%;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
}

.btn--accept{
	width: 36%;
	text-align: center;
	padding: 4px 4px;
}

.btn--accept:last-child{
	margin-left: 20px;
}

/*wait*/

.intro_title--wait{
	font-size: 16px;
}

.btn--wait{
	border-color: #fff;
	color: #fff;
	text-shadow: #333 1px 1px 1px;
	box-shadow: #333 1px 1px 1px;
}

/* popup */
.popup{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.5s ease 0s;
} 

.popup:target{
	opacity: 1;
	visibility: visible;
}

.popup_area{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	box-decoration-break: none;
}

.popup_body{
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}

.popup_content{
	margin-top: 80px;
	background-color: #fff;
	color: #333;
	padding: 30px;
	position: relative;
}

.popup_close{
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 20px;
	text-decoration: none;
	color: #333;

}

.popup_title{
	font-size: 40px;
	margin: 0px 0px 1em 0px;
	font-weight: 700;
	text-align: center;
}

.example-2 .btn-tertiary{font-size: 10px;color:#333;padding:0;line-height:30px;width: 50%;margin:auto;display:block;border:2px solid #333}
.example-2 .btn-tertiary:hover,.example-2 .btn-tertiary:focus{color:#fff;border-color:#fff}
.example-2 .input-file{width:.1px;height:.1px;opacity:0;overflow:hidden;position:absolute;z-index:-1}
.example-2 .input-file + .js-labelFile{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:0 10px;cursor:pointer}
.example-2 .input-file + .js-labelFile .icon:before{content:"\f093"}
.example-2 .input-file + .js-labelFile.has-file .icon:before{content:"\f00c";color:#5AAC7B}

@media screen {
	/*stat*/
	.stat{
		justify-content: center;
	}
	.stat_item{
		text-align: center;
		flex: none;
		width: 33.33333%;
		padding-bottom: 30px;
		padding-top: 30px;
	}
	.stat_item:last-child{
		border-right: 0;
	}
}

@media (max-width: 1500px) {
	/*Intro*/

	.intro_suptitle{
		font-size: 52px;
	}

	.intro_title{
		font-size: 120px;
	}

	.intro_title--wait{
		font-size: 16px;
	}
}



@media (max-width: 1040px) {

	/*Intro*/

	.section--order{
		padding-top: 150px;
		padding-bottom: 0px;
	}

	.intro_suptitle{
		font-size: 32px;
	}

	.intro_title{
		font-size: 80px;
	}
	/*services*/
	.services_item{
		width: 100%;
		padding-bottom: 0;
	}

	.services_item--border{
		border-bottom: 0;
	}
	/*imgs*/
	.about{
		margin-top: 50px;
		justify-content: center;
	}

	.about_item{
		width: 100%;
		max-width: 410px;
		margin-bottom: 30px;
	}

	.about_item:last-child{
		margin-bottom: 0;
	}
	.about_text{
		font-size: 10px;
	}

	.reg_input{
		width: 75%;
	}

	.intro_title--wait{
		font-size: 14px;
	}

	.btn--wait{
		font-size: 14px;
		padding: 5px 5px;
	}

	.example-2 .btn-tertiary{
		width: 75%;
	}

}

@media (max-width: 770px) {
		/*nav*/
	
	.section--order{
		padding-top: 150px;
		padding-bottom: 0px;
	}
	/*section*/
	.section{
		padding: 40px 0;
	}

	.section--intro{
		padding: 0;
	}

	.section--devices{
		padding-bottom: 0;
	}

	/*slider*/

	.slider_text{
		display: none;	
	}

	.slider_item.active:before{
			width: 40%;	
	}

	/*imgs*/
	.about{
		margin-top: 50px;
		justify-content: center;
	}

	.about_item{
		width: 100%;
		max-width: 410px;
		margin-bottom: 30px;
	}

	.about_item:last-child{
		margin-bottom: 0;
	}

	.services_item{
		width: 100%;
		padding-left: 120px;
		padding-right: 0;
	}

	.services_icon{
		left: 10px;
		max-width:100px;
		max-height: 75px;
	}

	.services_text{
		font-size: 12px;
	}
	.section--intro{
		margin-left: 100px;
		margin-right: 100px;
		padding-top: 30px;
	}
	.btn--cart{
		font-size: 10px;
		margin-top: 5px;
	}
	.counter{
		font-size: 12px;
	}
	.stat_item--cart{
	    padding-left: 10px;
	    padding-right: 10px;
	}


}

@media (max-width: 670px) {
	/*Intro*/

	.intro_suptitle{
		font-size: 22px;
	}

	.intro_title{
		font-size: 40px;
	}

	/*section*/

	.section_header{
		margin-bottom: 50px;	
	}
	.section_suptitle{
		font-size: 20px;	
	}
	.section_title{
		font-size: 24px;
	}
	.section_title:after{
		margin: 20px auto;
	}
	.header_logo{
		font-size: 20px;
	}

	/*stat*/
	.stat_item{
		width: 100%;
		border-bottom: 1px solid #333;
	}

	.stat_count {
		font-size: 52px;
	}

	.stat_text{
		font-size: 15px;
	}

	/*devices*/
	.devices{
		max-width: 320px;
	}
	.devices_item--iphone{
		width: 150px;
		bottom: -50px;
	}
	.about_text{
		font-size: 10px;
	}
	.section--intro{
		margin-left: 30px;
		margin-right: 30px;
	}
	.btn--accept{
		font-size: 12px;
	}
	.intro_title--wait{
		font-size: 13px;
	}
	.btn--wait{
		font-size: 13px;
	}
	.popup_title{
		font-size: 30px;
	}
}

@media (max-width: 550px) {
	.reg_input{
		width: 80%;
	}

	.section--intro{
		max-height: 75%;
		margin-top: 50px;
	}

	.section_title{
		font-size: 15px;
	}

	.reg_line{
		font-size: 11px;
	}

	.btn--reg{
		padding: 8px 15px;
		font-size: 11px;
	}

	.reg_text{
		margin: 5px 0;
	}

	.services_text{
		font-size: 10px;
	}

	.services_title{
		font-size: 12px;
	}
	.btn--cart{
		font-size: 8px;
		margin-top: 6px;
	}
	.counter{
		font-size: 10px;
	}

	.cart_inner input, .cart_inner textarea {
    	width: 100%;
	}

	.btn--accept{
		width:33.333%;
		font-size: 12px;
	}

	.stat_item--cart{
		text-align: center;
	}
	.btn--order{
		font-size: 12px;
		padding: 5px 5px;
	}

	.stat_text--start{
		font-size: 11px;
		padding-bottom: 5px;
	}

	.popup_title{
		font-size: 25px;
	}


}

@media (max-width: 330px) {
	.intro_suptitle{
		font-size: 18px;
	}
	.intro_title{
		font-size: 30px;
	}
	.reg_input{
		width: 100%;
	}
	.section--intro{
		margin-top: 50px;
	}
	.reg_line{
		font-size: 10px;
	}

	.section_title{
		font-size: 15px;
	}

	.header{
		padding: 5px;
	}

	.section--intro{
		max-height: 87%;
	}

	.nav_link{
		font-size: 11px;
		padding-top: 5px;
	}
	.intro_title--wait{
		font-size: 10px;
	}
	.btn--wait{
		font-size: 10px;
		padding: 3px 3px;
	}
	.popup_title{
		font-size: 15px;
		text-align: center;
	}
	.popup_content{
		margin-top: 35px;
	}
	.example-2 .btn-tertiary{
		width: 100%;
	}

}
@media (max-width: 400px) {
	.btn--about {
		display: inline-block;
		vertical-align: top;
		border: 2px solid #333;
		padding: 4px 15px;
		color: #333;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
		text-decoration: none;
		transition: background .1s linear, 
		color .1s linear;
		width: 100%;

	}
}

@media (max-height: 770px) {
	.section--intro{
		margin-top: 50px;
	}
	.reg_line{
		font-size: 12px;
	}
	.section_title{
		font-size: 15px;
	}
	.reg_input{
		height: 25px;
	}
	.reg_text{
		margin: 2px 0;
	}
}